
<div class="container">

  <div class="row">
    <!-- Side bar -->
    <div class="three columns">
      <div class="row build">
        <div class="twelve columns hide-on-phones">

          <h4><%= title %></h4>
          <br />

          <!--
          <h5 class="subheader"><%= description %></h5>
          -->

          <p>
            <a href="/upload/<%= project.id %>" class="large blue button radius">
              Upload Build
            </a>
          </p>
<!--
          <hr/>

          <h4>Project members</h4>
          <ul>
            <li>ping (admin)</li>
            <li>tansu</li>
            <li>sooyoung</li>
          </ul>

          <br />
-->
          <ul>
            <li><a href="/project/<%= project.id %>/members/add">
              Add member
            </a></li>
            <li><a href="/project/<%= project.id %>/edit">
              Edit Project Settings
            </a></li>
          </ul>
          
        </div>
      </div>

    </div> <!-- /sidebar -->


    <div class="nine columns"> <!-- main body -->

      <% for(var i=0, len=builds.length, build; build = builds[i]; i++) { %>
      <div class="row">
        <div class="two columns build_icon_box hide-on-phones">

          <% if (build.downloads.length) { %>
            <img src="/img/downloaded.png">
          <% } else { %>
            <img src="/img/download.png">
          <% } %>

          <p><a href="/project/<%= project.id %>/<%= build.id %>/download">
            Download
          </a></p>
        </div>
        <div class="ten columns">
          <h5>
            <a href="/project/<%= project.id %>/<%= build.id %>">
              <%= build.filename %>,
              <%= build.version_code
                ? 'version: ' + build.version_code
                : '' %>
            </a>
          </h5>
          <p>
            <%- build.changelog.replace(/\r\n/gi, '<br />') %>
          </p>

          <p>
            <%= build.prettySize %> Uploaded
            <strong>
              <%= build.prettyCreatedAt %>
            </strong>
          </p>

          <% if (build.numApproved) { %>
          <span class="green radius label">
            <%= build.numApproved %> ppl approved
          </span>&nbsp;
          <% } %>

          <% if (build.numDisapproved) { %>
          <span class="red radius label">
            <%= build.numDisapproved %> ppl disapproved
          </span>&nbsp;
          <% } %>

          <% if (build.numDownloads) { %>
          <span class="white radius label">
            <%= build.numDownloads %> downloads
          </span>&nbsp;
          <% } %>

          <hr/>
        </div>
      </div>
      <% } %>

    </div> <!-- /main body -->


  </div>

</div>
<!-- container -->